/* css main container */
#burgers.container {
    background-image: url("../assets/img/background_black.png");
}

/*css header:pagina */
#burgers .page_title h2 {
    margin-top: 10px;
    font-size: 55px;
    color: #ddaa46;
}

#burgers .page_subt {
    justify-content: space-around;
}

#burgers .page_subt p {
    margin: 5px 20px;
    color: white;
}

/* css pagina:pagina */
#ahumadas {
    position: relative;
}

#normalb {
    padding: 0 20px;
}
/* css footer:pagina  */
/* css tarjetas ahumadas */
/* css header:tarjeta */
#ahumadas .c_title h4 {
    color: #ddaa46;
}

#ahumadas .c_subt p, #ahumadas .c_content p, #ahumadas .c_price p {
    color: white;
}

#ahumadas .c_subt p {
    font-size: 18px;
    font-family: 'Andora';
}

/* css imagen:tarjeta */
#ahumadas .c_img img {
    width: 140px;
}

/* css tarjetas normales */
/* css header:tarjeta */
#normalb .c_title h4{
    color: #ddaa46;
}

/* css body:tarjeta */
#normalb .c_subt p, #normalb .c_content p, #normalb .c_price p {
    color: white;
}

#normalb .c_subt p {
    font-size: 18px;
    font-family: 'Andora';
}


/* css imagen:tarjeta */
#normalb .c_img img {
    width: 160px;
}

/* css corners */
#burgers .bottomcorners {
    padding-bottom: 20px;
}

#panzer.row, #pancho.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sello_logo {
    top: 35%;
}

.sello_logo {
    top: 36%;
}

#ahumadas .new img{
    width: 40px;
    position: absolute;
    top: -8%;
    right: 0;
}

#ahumadas .new2 img{
    width: 40px;
    position: absolute;
    top: -4%;
    right: 0;
}

.logo2 {
    top: 70%;
}
.sello2 {
    top: 4%;
    left: unset;
    right: 0;
}

.sello2 img {
    width: 60px;
}

.sello3 {
    top: 8%;
    left: 12%;
    right: unset;
}

.sello3 img {
    width: 60px;
}

.hd {
    padding: 20px 5px;
}

#rubia span {
    font-family: 'Andora';
    color: white;
}