/* css main container */
#coctel.container {
    background-image: url("../assets/img/background_black.png");
    background-size: cover;
    /* margin-top: 100px; */
}

#coctel .row {
    justify-content: space-around;
}

#clandestino.card, #fresco.card, #panchito.card, #deleite.card, #cardonal.card {
    flex-direction: row;
}

#coctel .c_body {
    width: 95px;
    align-items: flex-start;
}

#coctel .c_title h4 {
    font-size: 18px;
    text-align: left;
    color: #ddaa46;
}

#title .c_title h4 {
    font-size: 36px;
    text-align: left;
    color: #ddaa46;
}

#title .c_subt p {
    font-size: 25px;
    color: white;
    font-family: 'Andora';
}

#coctel .c_content p, #coctel .c_price p {
    color: white;
    text-align: left;
    font-size: 10px;
}

#clandestino img, #fresco img, #panchito img, #deleite img, #cardonal img {
    width: 60px;
}
#imperial .c_body, #morir .c_body, #pasion .c_body {
    align-items: center;
}

#imperial .c_title h4, #morir .c_title h4, #pasion .c_title h4 {
    text-align: center;
}

#imperial .c_content p, #morir .c_content p, #pasion .c_content p {
    text-align: center;
}

#pasion img {
    width: 80px;
}

#morir img {
    width: 70px;
}

#imperial img {
    width: 80px;
}

#coctel .v_divisor img {
    height: 180px;
}