/* CSS footer */

.footer {
    background-color: black;
    height: 100px;
    border-top: 4px solid #ffeb00;

    padding: 30px 10px;

}

.rowf { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.colf img {
    width: 100px;
}