
.checkbox-wrapper-34 {
  /* --blue: green ;
  --g08: #333;
  --g04: #eee; */
  align-self: center;
  /* margin-right: 30px; */
}

.checkbox-wrapper-34 .tgl {
  display: none;
}

.checkbox-wrapper-34 .tgl,
.checkbox-wrapper-34 .tgl:after,
.checkbox-wrapper-34 .tgl:before,
.checkbox-wrapper-34 .tgl *,
.checkbox-wrapper-34 .tgl *:after,
.checkbox-wrapper-34 .tgl *:before,
.checkbox-wrapper-34 .tgl + .tgl-btn,
.checkbox-wrapper-34 .tgl + .tgl-btn2,
.checkbox-wrapper-34 .tgl + .tgl-btni {
  box-sizing: border-box;
  
}

/* .carta-checkbox .tgl,
.carta-checkbox .tgl:after,
.carta-checkbox .tgl:before,
.carta-checkbox .tgl *,
.carta-checkbox .tgl *:after,
.carta-checkbox .tgl *:before,
.carta-checkbox .tgl + .tgl-btn {
  box-sizing: border-box;
} */

.checkbox-wrapper-34 .tgl::selection,
.checkbox-wrapper-34 .tgl:after::selection,
.checkbox-wrapper-34 .tgl:before::selection,
.checkbox-wrapper-34 .tgl *::selection,
.checkbox-wrapper-34 .tgl *:after::selection,
.checkbox-wrapper-34 .tgl *:before::selection,
.checkbox-wrapper-34 .tgl + .tgl-btn::selection,
.checkbox-wrapper-34 .tgl + .tgl-btn2::selection,
.checkbox-wrapper-34 .tgl + .tgl-btni::selection {
  background: none;
}

/* .carta-checkbox .tgl::selection,
.carta-checkbox .tgl:after::selection,
.carta-checkbox .tgl:before::selection,
.carta-checkbox .tgl *::selection,
.carta-checkbox .tgl *:after::selection,
.carta-checkbox .tgl *:before::selection,
.carta-checkbox .tgl + .tgl-btn::selection {
  background: none;
} */

.checkbox-wrapper-34 .tgl + .tgl-btn, .checkbox-wrapper-34 .tgl + .tgl-btn2, .checkbox-wrapper-34 .tgl + .tgl-btni {
  /*Definimos el estilo de la etiqueta segun la primera clase de nuestro checkbox*/
  outline: 0;
  display: block;
  width: 110px;
  height: 50px;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  letter-spacing: 1px;
  /* font-weight: 400; */
  font-family: 'Drustic Dialy Condensed';
  text-transform: uppercase;
  color: #fff;
}

.checkbox-wrapper-34 .tgl + .tgl-btn:after,
.checkbox-wrapper-34 .tgl + .tgl-btn:before,
.checkbox-wrapper-34 .tgl + .tgl-btn2:after,
.checkbox-wrapper-34 .tgl + .tgl-btn2:before,
.checkbox-wrapper-34 .tgl + .tgl-btni:after,
.checkbox-wrapper-34 .tgl + .tgl-btni:before { 
  /*Definimos el contenido para la etiqueta segun la primera clase de nuestro checkbox*/
  /*Esta clase define el texto que sera visto en las opciones*/
  position: relative;
  display: flex; /*Se comportará como un bloque*/
  align-items: center;
  justify-content: center;
  content: "";    /*El contenido sera vacio, pero luego añadiremos el texto de las opciones comida y tragos*/
  width: 55%;
  height: 100%;
}

/* .checkbox-wrapper-34 .tgl + .tgl-btn:after {
  left: 0;
} */

.checkbox-wrapper-34 .tgl + .tgl-btn:before,
.checkbox-wrapper-34 .tgl + .tgl-btn2:before,
.checkbox-wrapper-34 .tgl + .tgl-btni:before {  
  /*Cuando no se ha marcado, el contenido vacio se inserta sobre la etiqueta*/
  /* display: inline; */
  position: absolute;
  /* top: 32.5%; */
}
.checkbox-wrapper-34 .tgl:checked + .tgl-btn:after,
.checkbox-wrapper-34 .tgl:checked + .tgl-btn2:after,
.checkbox-wrapper-34 .tgl:checked + .tgl-btni:after {
  /*Cuando se ha marcado el contenido vacio sera empujado al otro lado*/
  left: 46%;
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btn, .checkbox-wrapper-34 .tgl-ios + .tgl-btn2, .checkbox-wrapper-34 .tgl-ios + .tgl-btni {
  /*Definimos el estilo para la etiqueta segun la segunda clase de nuestro checkbox*/
  background: #333;
  border-radius: 20rem;
  padding: 2px;
  /* transition: all 0.4s ease; */
  /* box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1); */
}
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:after, .checkbox-wrapper-34 .tgl-ios + .tgl-btn2:after {
  /*Definimos el contenido para la etiqueta segun la segunda clase*/
  content: "Comida";
  border-radius: 2em;
  background: #ddaa46;
  /* transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease; */
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); */
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btni:after { /* boton sin check */
  content: "Espanol";
  border-radius: 2em;
  background: grey  ;
}

.checkbox-wrapper-34 .tgl-ios + .eng2:after {
  /*Definimos el contenido para la etiqueta segun la segunda clase*/
  content: "Food";
  border-radius: 2em;
  background: #ddaa46;
  /* transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease; */
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2); */
}

.checkbox-wrapper-34 .tgl-ios + .eng:after { 
  content: "English";
  border-radius: 2em;
  background: grey  ;
}

.checkbox-wrapper-34 .tgl-ios + .tgl-btn:before {
  content: "Tragos";
  bottom: 2%;
  left: 48%;
  color: grey;
  /* transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
.checkbox-wrapper-34 .tgl-ios + .tgl-btni:before { /*fondo sin check */
  content: "Ingles";
  left: 48%;
  bottom: 1%;
  color: grey;
  /* transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.checkbox-wrapper-34 .tgl-ios + .eng:before { /*ENG - fondo sin check*/
  content: "Spanish";
  left: 48%;
  color: grey;
  /* transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.checkbox-wrapper-34 .tgl-ios + .eng2:before {
  content: "Drinks";
  left: 49%;
  color: grey;
  /* transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

/* .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
} */
/* .checkbox-wrapper-34 .tgl-ios + .tgl-btn:active:after {
  padding-right: 0.4em;
} */
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:after {
  content: "Tragos";
  background: #00724d;
  transition: all 200ms ease;
}

.checkbox-wrapper-34 .tgl-ios:checked + .eng2:after {
  content: "Drinks";
  background: #00724d;
  transition: all 200ms ease;
}
/* .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active {
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
} */
/* .checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.4em;
} */
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:before {
  content: "Comida";
  left: 0;
  /* color: #fff; */
}

.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btni:before {
  content: "Ingles";
  left: -2%;
  /* color: #fff; */
}

.checkbox-wrapper-34 .tgl-ios:checked + .eng:before {
  content: "Spanish";
  left: -2%;
  color: grey;
  /* transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.checkbox-wrapper-34 .tgl-ios:checked + .eng2:before {
  content: "Food";
  left: 2%;
  color: grey;
  /* transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}

.tgl-btn2 {
  margin-bottom: 30px;
}
