/* css main container */
#jarnsour.container {
    background-image: url("../assets/img/background_black2.png");
    background-size: cover;
    height: 800px;
    background-color: grey;
    margin-top: 100px;

    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

#jarcards.row {
    margin-top: 10px;
}

#jarnsour .card {
    width: 100px;
}

#jar_header{
    margin-left: 50px;
}

#jar img {
    width: 180px;
}

#jar .c_title h4 {
    font-size: 64px;
    color: #feb000;
}

#jar .c_subt p {
    width: 200px;
}
#jar .c_subt p {
    font-family: 'Andora';
    font-size: 36px;
    text-align: center;
    color: white;
}

#jar .c_content p {
    font-family: 'Avenir';
    font-size: 32px;
    font-weight: 700;
    color: #feb000;
}

#jar .c_price p {
    font-family: 'Avenir';
    font-size: 28px;
    text-align: center;
    color: white;
}


#sangria .c_title p, #bogatuna .c_title p {
    font-family: 'Avenir';
    font-size: 24px;
    text-align: center;
    color: #feb000;
}

#sangria .c_content p, #summer .c_content p, #bogatuna .c_content p {
    color: white;
}

#summer .c_title p {
    font-family: 'Andora';
    font-size: 22px;
    text-align: center;
    color: #feb000;
}

#sour.row {
    justify-content: space-between;
}

#sour .c_head {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#sour .c_body {
    width: 100%;
}

#sour .c_title p {
    font-family: 'Drustic Dialy';
    font-size: 16px;
    text-align: center;
    color: #feb000;
}


#sour_price .c_body {
    align-items: flex-start;
}

#sour .c_price p {
    font-size: 12px;
    color: white;
}

#sour .c_content p {
    text-align: left;
    color: white;
}

#sour_header img {
    width: 165px;
}

#sour_header  .c_subt p {
    text-align: center;
}

#sour_title.c_title p {
    font-family: 'Andora';
    font-size: 36px;
    color: white;
    transform: skew(15deg, -20deg)
}

#sour_subt.c_subt {
    width: 100px;
}

#sour_subt.c_subt p {
    font-family: 'Drustic Dialy';
    font-size: 14px;
    color: white;
    text-align: right;
    transform: skew(15deg, -20deg)
}

#sour_price.card {
    width: 240px;
}

#jarcards .v_divisor img {
    height: 140px;
}