/* CSS main */

.container {
    background-color: black;
}

/* Section 1 */
.section_1 {
    /* background-image: url("/lajoyasanguches/assets/img/background_section_1b.png"); */
    /* background-size: cover; */

    /* background-color: black; */
    width: 375px;
    height: 650px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.divisor {
    border-bottom: 5px solid #ffbe00;
}

.bg_section_1 {
    height: inherit;
    width: 375px;
    

}

/* Section 2 */

.section_2 {
    width: 375px;
    margin: 0 auto;
    
    position: relative;
}

.bg_section_2 {
    width: 375px;
}

.s2_cover {
    background-image: url("../assets/img/cover.png");
    background-size: cover;
    /* background-repeat: no-repeat; */

    padding: 30px 0;

    position: absolute;
    bottom: 0;
}

.s2_cover p {

    font-family: 'Drustic Dialy';
    letter-spacing: -0.8px;
    line-height: 1.4;
    text-align: center;
    font-size: 20px;
        
}

/* Section 3 */

.section_3 {
    background-image: url("/lajoyasanguches/assets/img/background_section_3b.png");
    background-size: cover;
    height: 650px;

    width: 375px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    

}

.s3_top {
    padding: 20px 20px 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.s3_top_logo {
    width: 100px;
}

.s3_top h2 {
    color: #ffbe00;
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: 'Drustic Dialy';
}

.s3_top h4 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;

    font-family: 'Avenir';
}

.s3_top_img {
    width: 240px;
    transform: translateY(60px);
}


.s3_cover {
    background-image: url("/lajoyasanguches/assets/img/cover.png");
    /* commit -m */
    background-size: cover;

    padding: 40px 10px 10px 10px;

    display: flex;
    align-items:flex-start;
    justify-content: flex-end;
}

/* Section 4 */

.section_4 {
    background-image: url("../assets/img/background_section_4b.png");
    background-size: cover;
    height: 650px;

    width: 375px;
    margin: 0 auto;
}