/* CSS main */

/* Section 1 */
.section_1 {
    background-image: url("/lajoyasanguches/assets/img/background_section_1.png");
    background-size: cover;
    height: 650px;
}

/* Section 2 */

.section_2 {
    background-image: url("/lajoyasanguches/assets/img/background_section_2.png");
    background-size: cover;
    background-position: 0 -120px;
    height: 450px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.s2_cover {
    /* height: 280px; */
    background-image: url("/lajoyasanguches/assets/img/cover.png");
    background-size: cover;
    
    padding: 50px 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Vina Sans', sans-serif;
    letter-spacing: -0.8px;
    line-height: 1.4;
    text-align: center;
    font-size: 20px;
    
}

/* Section 3 */

.section_3 {
    background-image: url("/lajoyasanguches/assets/img/background_section_3.png");
    background-size: cover;
    height: 650px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.s3_top {
    padding: 20px 20px 0 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.s3_top_logo {
    width: 100px;
}

.s3_top h2 {
    color: #c4a800;
    font-size: 26px;
    text-transform: uppercase;
    margin-top: 20px;
}

.s3_top h4 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.s3_top_img {
    width: 240px;
    transform: translateY(60px);
}


.s3_cover {
    background-image: url("/lajoyasanguches/assets/img/cover.png");
    /* commit -m */
    background-size: cover;

    padding: 40px 20px 40px 20px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

}