/* css main container */
#sanguches.container {
    margin-top: 100px;
    
    background-image: url("/lajoyasanguches/assets/img/background_black2.png");
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* css pagina:pagina */
#sanguchesp {
    position: relative;
}

/* css header:pagina*/
#sanguches .page_title h2 {
    font-size: 48px;
    font-family: 'Andora';
    color: #ffbe00;
}

/* css tarjeta */

#sanguches {
    padding-top: 20px;
}

#sanguches .c_head, #sanguches .c_body {
    position: relative;
}

/* css header:tarjeta */
#sanguches .c_head {
    width: 200px;
}

/* css title:tarjeta */
#sanguches .c_title h4 {
    font-size: 28px;
    color: #ffbe00;
}

/* css subt:tarjeta */
#sanguches .c_subt p {
    padding: 5px;

    font-size: 16px;
    font-family: 'Andora';
    color: white;
}

/* css body:tarjeta */
#sanguches .c_body {
    left: 4%;
}

/* css contenido:tarjeta */
#sanguches .c_content p {
    color: white;
}

/* css precio:tarjeta */
#sanguches .c_price p {
    color: white;  
}

/* css imagen:tarjeta */
#sanguches .c_img {
    top: 4%;
    right: 4%;
}

#sanguches .c_img img {
    width: 180px;
}

.c_headc {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    top: 3rem;
    left: 0rem;

}

.c_titlec h4 {
    
    font-size: 24px;
    font-family: 'Andora';
    color:  #ffbe00;

}

/* css divisor */
#sanguches .v_divisor img {
    height: 200px;
}

.topcorners {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}
.gcorner_top {
    width: 60px;
}
.bottomcorners {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    bottom: 0;
}
.bottomcorners img {
    width: 60px;
}

/* css cover */
#sanguches .pagef {
    background-image: url("../assets/img/cover_2.png");
    background-size: cover;
}

#sanguches .pagef p {
    text-align: left;
    color: white;
}
