/* CSS main */

.container {
    
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-image: url("/lajoyasanguches/assets/img/background_beige2.png");
    background-size: contain;
    background-repeat: repeat-y;
}

.page_header {
    width: 100%;
    background-image: url("/lajoyasanguches/assets/img/cover_top.png");
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0 40px 0;

    
    
}

.page_title h2 {
    font-size: 40px;
    font-family: 'Drustic Dialy';
    margin-left: 20px;
    
}

.page_title h4 {
    font-size: 30px;
    font-family: 'Andora';
    margin-left: 38px;
}

.page_header img {
    width: 100px;
    margin-right: 20px;
}

/* CSS Modos de tarjeta */
/* Tarjeta contenedor, objetos flotan en ella utiliando positions, sin flex */
.card {
    width: 19rem;
    margin: 0 auto;

    /* background-color: white; */
    /* border: 1px solid black; */
    border-radius: 5px;

    height: 160px;

    padding: 20px;
    position: relative;
}
/* Tarjeta columna, contiene flex los objetos dentro se compartonan como bloques */
.card2 {
    width: 11rem;
    margin: 0 auto;

    /* background-color: white; */
    /* border: 1px solid black; */
    border-radius: 5px;

    /* height: 160px; */

    /* padding: 20px; */
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* CSS Primera columna */
.c_head {

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 20px;

}

.c_title h4 {
    
    font-size: 28px;
    font-family: 'Drustic Dialy';

}

.c_subt p {
    font-size: 14px;
    font-weight: 700;
    padding: 5px;

    font-family: 'Drustic Dialy';
}

.c_body {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c_content p {
    
    font-size: 10px;
    text-align: left;
    font-family: 'Avenir';
}

.c_price p {
    font-size: 14px;
    font-family: 'Andora';
    margin-top: 10px;

}

.c_img img {
    width: 220px;
    position: absolute;
    top: 10%;
    right: 0px;
}


/* CSS Segunta columna */

.c_head2 {

    display: flex;
    flex-direction: column;
    align-items: start;

    position: absolute;
    top: 3rem;
    right: 3rem;

}

.c_title2 h4 {
    
    font-size: 28px;
    font-family: 'Drustic Dialy';

}

.c_subt2 p {
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    font-family: 'Drustic Dialy';
}

.c_body2 {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 5rem;
    right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c_content2 p {
    
    font-size: 12px;
    text-align: center;
    font-family: 'Avenir';
}

.c_price2 p {
    font-size: 14px;
    font-family: 'Andora';
    margin-top: 10px;

    
}

.c_img2 img {
    width: 180px;
    position: absolute;
    top: 2rem;
    left: 0;
}



/* CSS Tercera columna */

.c_head3 {

    display: flex;
    flex-direction: column;
    align-items: start;

    position: absolute;
    top: 1rem;
    left: 3rem;

}

.c_title3 h4 {
    
    font-size: 28px;
    font-family: 'Drustic Dialy';

}

.c_subt3 p {
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    font-family: 'Drustic Dialy';
}

.c_body3 {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 5rem;
    left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c_content3 p {
    
    font-size: 10px;
    text-align: left;
    font-family: 'Avenir';
}

.c_price3 p {
    font-size: 14px;
    font-family: 'Andora';
    margin-top: 10px;
    
}

.c_img3 img {
    width: 200px;
    position: absolute;
    top: 2rem;
    right: 0;
}

/* CSS Divisores */

.h_divisor {
    padding: 0 10px;
}

.h_divisor img {
    width: 100%;
}

.v_divisor img {
    height: 200px;
    padding: 0 10px;

}

/* CSS Cuarta columna (dos productos en ella) */
.col_b {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

/* Primera tarjeta pequeña */

.c_head4 {

    display: flex;
    flex-direction: column;
    align-items: start;


}

.c_title4 h4 {
    
    font-size: 28px;
    font-family: 'Drustic Dialy';

}

.c_subt4 p {
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    font-family: 'Drustic Dialy';
}

.c_body4 {
    width: 150px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c_content4 p {
    
    font-size: 10px;
    text-align: center  ;
    font-family: 'Avenir';
}

.c_price4 p {
    font-size: 14px;
    font-family: 'Andora';
    margin-top: 10px;
    
}

.c_img4 img {
    width: 160px;
    
}

/* Segunda tarjeta pequeña */

.c_head5 {

    display: flex;
    flex-direction: column;
    align-items: start;


}

.c_title5 h4 {
    
    font-size: 28px;
    font-family: 'Drustic Dialy';

}

.c_subt5 p {
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    font-family: 'Drustic Dialy';
}

.c_body5 {
    width: 150px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c_content5 p {
    
    font-size: 10px;
    text-align: left;
    font-family: 'Avenir';
}

.c_price5 p {
    font-size: 14px;
    font-family: 'Andora';
    margin-top: 10px;
    
}

.c_img5 img {
    width: 160px;

}

/* CSS Quinta Columna */

.col_c{
    display: flex;
    align-items: center;
    
}

.c_head6 {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.c_title6 h4 {
    
    font-size: 32px;
    font-family: 'Drustic Dialy';

}

.c_subt6 p {
    font-size: 16px;
    font-family: 'Andora';
}

.c_body6 {
    width: 150px;
    height: 80px;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c_content6 p {
    
    font-size: 10px;
    text-align: left;
    font-family: 'Avenir';
}

.c_price6 p {
    font-size: 14px;
    font-family: 'Andora';
    margin-top: 10px;

}

.c_img6 img {
    width: 180px;

}

/* CSS Sexta Columna */

/* Primera tarjeta pequeña, columna 6 */

.c_head7{

    display: flex;
    flex-direction: column;
    align-items: start;


}

.c_title7 h4 {
    
    font-size: 32px;
    font-family: 'Andora';

}

.c_subt7 p {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Drustic Dialy';
}

.c_body7 {
    width: 150px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c_content7 p {
    
    font-size: 10px;
    text-align: left;
    font-family: 'Avenir';
}

.c_price7 p {
    font-size: 14px;
    font-family: 'Andora';
    /* margin-top: 10px; */
    transform: translateX(-40px);
    
    
}

.c_img7 img {
    width: 180px;
    transform: translateY(-30px);
    margin-left: 20px;
    
}

/* Segunda tarjeta pequeña, columa 6 */

.c_head8{

    display: flex;
    flex-direction: column;
    align-items: start;


}

.c_title8 h4 {
    
    font-size: 32px;
    font-family: 'Drustic Dialy';

}

.c_subt8 p {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Andora';
}

.c_body8 {
    width: 150px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.c_content8 p {
    
    font-size: 10px;
    text-align: left;
    font-family: 'Avenir';
}

.c_price8 p {
    font-size: 14px;
    font-family: 'Andora';
    /* margin-top: 10px; */
    transform: translateX(-40px);
    
    
}

.c_img8 img {
    width: 160px;
    transform: translateY(-10px);
    margin-right: 20px;
    
}

/* CSS Septima Columna */

.c_head9 {

    display: flex;
    flex-direction: column;
    align-items: start;

    position: absolute;
    top: 1rem;
    left: 1rem;

}

.c_title9 h4 {
    
    font-size: 36px;
    font-family: 'Drustic Dialy';

}

.c_subt9 p {
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    font-family: 'Drustic Dialy';
}

.c_body9 {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 2rem;
    right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.c_content9 p {
    
    font-size: 10px;
    text-align: right;
    font-family: 'Avenir';
}

.c_price9 p {
    font-size: 14px;
    font-family: 'Andora';
    margin-top: 10px;

    
}

.c_img9 img {
    width: 220px;
    position: absolute;
    top: 6rem;
    left: 0;
}

/* CSS Octava columna */


.c_head10 {

    display: flex;
    flex-direction: column;
    align-items: start;

    position: absolute;
    top: 1rem;
    left: 1rem;

}

.c_head10 img {
    width: 250px;
}

.c_title10 h4 {
    
    font-size: 36px;
    font-family: 'Drustic Dialy';

}

.c_subt10 p {
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    font-family: 'Drustic Dialy';
}

.c_body10 {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 6rem;
    left: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
}

.c_content10 p {
    
    font-size: 10px;
    text-align: left;
    font-family: 'Avenir';
}

.c_price10 p {
    font-size: 14px;
    font-family: 'Andora';
    margin-top: 10px;

    
}

.c_img10 img {
    width: 220px;
    position: absolute;
    top: 0rem;
    right: 0;
}

/* CSS Novena columna */


.c_head11 {

    display: flex;
    flex-direction: column;
    align-items: start;

    position: absolute;
    top: 0rem;
    right: 5rem;

}


.c_title11 h4 {
    
    font-size: 36px;
    font-family: 'Drustic Dialy';
    transform: translateX(40px);

}

.c_subt11 p {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Drustic Dialy';
    transform: translateY(10px);
}

.c_body11 {
    width: 150px;
    height: 80px;
    position: absolute;
    top: 5rem;
    right: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    
}

.c_content11 p {
    
    font-size: 10px;
    text-align: right;
    font-family: 'Avenir';
}

.c_price11 p {
    font-size: 14px;
    font-family: 'Andora';
    margin-top: 10px;

    
}

.c_img11 img {
    width: 180px;
    position: absolute;
    top: 2rem;
    left: 0;
}